<section class="slice-pc38">

  <div class="cols cols-3">
    <div class="col"><a href="#" class="cta-btn cta-btn-2">Accéder au site</a></div>
    <div class="col"><a href="#" class="cta-btn cta-btn-2">Accéder à la page d'accueil</a></div>
    <div class="col"><a href="#" class="cta-btn cta-btn-2">Découvrir la gamme</a></div>
  </div>

</section>